@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8 !important;
  font-family: "Poppins", sans-serif !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

.background-area {
  padding-top: 114px;
  padding-bottom: 114px;
  background-color: hsl(33deg 33% 95%);
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom-width: 0px;
  padding-top: 136px;
  padding-bottom: 131px;
  background-size: cover;
  z-index: 3;
  position: relative;
  background-image: url(../assets/images/background.jpg);
  text-align: center;
}

.background-area h1 {
  font-size: 2.7rem;
  text-transform: uppercase;
}

.hero-ill {
  width: 100%;
  margin: 1.5rem 0;
}

.hero-ill-p {
  font-size: 1.1rem;
}

.top-heading img {
  margin: 0 1rem;
}

.navbar-toggler {
  border: 0 !important;
  width: 100%;
  text-align: end;
  outline: none !important;
}

/* NAVBAR! */
nav {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.nav-link {
  padding-left: 3rem !important;
  font-size: 1.05rem !important;
  color: #000000 !important;
}

.style-links {
  color: #267cdd !important;
}

/* HERO! */
.hero-img {
  width: 100%;
  height: 88vh;
  object-fit: cover;
}

.hero-img-container {
  position: relative;
}

.hero-sub {
  line-height: 1.6;
}

.mobile-hero {
  display: none;
}

.color {
  color: #267cdd;
}

.hero-btn {
  background-color: #267cdd !important;
  border-color: #267cdd !important;
}

.hero-img-container::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
}

.carousel-caption {
  top: 13rem;
  bottom: auto;
}

/* HOME - FAQ */

.accordion .card {
  margin: 0.5rem 0;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.info-one-heading {
  margin-left: 0.4rem;
  color: #ababab;
  letter-spacing: 3px;
  font-weight: 700;
}

.info-heading {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-left: 0.4rem;
}

.body-btn {
  margin-left: 0.3rem;
}

.info-section .card-header h5 {
  font-size: 1.03rem;
}

/* HOME-SERVICES */

.service-h-card {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.2s ease-in;
  margin: auto;
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
}

.service-h-card:hover {
  transform: scale(1.035);
}

.service-icon {
  font-size: 3rem;
  color: #267cdd !important;
}

.service-btn {
  background-color: #333982 !important;
  border-color: #333982 !important;
}

.servies h3 {
  margin-top: 5rem;
}

/* MAPS! */
iframe {
  width: 100%;
}

/* CARAOUSLE */

.testimonials {
  padding: 0.5rem;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.myCarousel {
  background: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1) !important;
  width: 50%;
  margin: auto;
  padding: 1rem;
}

.star {
  color: #ffb944;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.loc {
  font-size: 0.8rem;
  color: #454545;
  font-weight: normal;
}

.person-name1 {
  margin: 0.5rem 0;
  font-weight: 650;
}

/* ABOUT! */

.about-main {
  text-align: center;
}

.about-main .service-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-main h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

/* HOME-CONTACT! */
.contact-home {
  background-color: #267cdd;
  background-image: url(../assets/images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  height: 65vh;
}

.contact-home .hero-btn {
  background-color: #fff !important;
}

.contact-home h1 {
  font-size: 4rem;
}

.my-grid {
  margin-top: 7.5rem !important;
}

/* FORM! */
.my-form {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  padding: 1rem;
}

.underline {
  width: 10rem;
  height: 0.25rem;
  background: #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

li {
  margin: 0.7rem;
}

/* JOIN OUR TEAM! */

.join-team .my-form,
.scientific-apply .my-form,
.covid-form .my-form,
.deep-apply .my-form {
  width: 75%;
  margin: 2rem auto !important;
}

.covid-form .my-form {
  width: 85%;
  margin: 2rem auto !important;
}

.j1 {
  margin-top: 4rem;
}

/* DIRECTORS */

.directors-card {
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: auto;
  width: 60%;
  text-align: center;
}

.directors-det {
  padding: 1rem;
}

.directors-det h1 {
  font-size: 1.5rem;
}

.social-icon-director {
  color: #267cdd;
  margin-left: 1rem;
  font-size: 1.3rem;
}

/* TEAM! */

.team-card {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
}

.team-img {
  margin-left: 0rem;
  margin-right: 1.2rem;
}

.radiology {
  background-color: yellow;
  display: inline-block;
  padding: 0.3rem;
  border-radius: 4px;
  text-align: center;
}

.padiology {
  background-color: green;
  display: inline-block;
  padding: 0.3rem;
  border-radius: 4px;
  text-align: center;
  color: #fff;
}

.role {
  font-size: 0.9rem;
  color: #696969;
}

.person-name {
  position: relative;
  top: 0.5rem;
}

/* BACK-TO-TOP! */

.bt {
  position: fixed;
  right: 2rem;
  z-index: 1;
  /* font-size: 1.1rem; */
}

.bt-i {
  font-size: 1.2rem;
}

.bt-ar {
  background-color: #267cdd;
}

/* RESEARCH! */

.requirement ul {
  list-style-type: initial;
}

.requirement h4 {
  font-weight: bold;
}

/* COVID! */

.covid a {
  color: #267cdd !important;
}

.sup-apps img {
  height: 30px;
  margin-bottom: 1.3rem;
  margin-right: 1.5rem;
}

/* FOOTER */

footer {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.main-footer a,
.main-footer p {
  color: #696969 !important;
}

.heading h5 {
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.social-links {
  color: #267cdd !important;
  font-size: 1.3rem;
  margin: 0 1.5rem;
}

.helper-icons {
  color: #267cdd;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  /* .lottie-details {
    border-bottom: 1px solid #000;
  } */

  .top-heading h3 {
    font-size: 1rem;
  }
  .hero-ill {
    margin: 2rem 0;
  }

  .hero-ill-p {
    font-size: 1rem;
  }

  .small-img {
    height: 90vh;
  }

  .background-area .w-50 {
    width: initial !important;
  }
  .background-area h1 {
    font-size: 2.3rem;
  }

  /* HERO! */
  .hero-img {
    height: 90vh;
  }

  .nav-link {
    padding-left: 0 !important;
    padding: 1rem !important;
  }

  .mobile-hero {
    margin: 1rem 0;
    display: block;
  }

  .carousel-caption .w-50 {
    width: 100% !important;
  }

  .carousel-caption h5 {
    font-size: 0.92rem;
  }
  .carousel-caption h1 {
    font-size: 1.7rem;
  }

  .carousel-caption .hero-btn {
    font-size: 1rem !important;
  }

  .carousel-caption {
    text-align: start !important;
    top: 12rem;
    bottom: auto;
    left: 1rem !important;
  }

  .carousel-control-next-icon {
    display: none !important;
  }
  .carousel-control-prev-icon {
    display: none !important;
  }

  /* FAQ -HOME*/
  .main-heading {
    font-size: 2.7rem;
  }

  .info-heading {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-left: initial;
  }

  .info-one-heading {
    margin: 0.7rem 0;
  }

  /* SERVICES-HOME */

  .service-card {
    width: initial !important;
  }

  .servies .hero-btn {
    font-size: 0.9rem;
  }

  .myCarousel {
    width: initial;
    margin: 1rem;
  }
  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }

  /* CONTACT PAGE HOME! */

  .contact-home h1 {
    font-size: 3rem;
  }

  .my-grid {
    margin-top: 5rem !important;
  }

  /* DIRECTORS! */
  .directors-card {
    margin: 1rem;
    width: initial;
  }

  /* JOIN! */
  .join-team .my-form,
  .scientific-apply .my-form,
  .covid-form .my-form,
  .deep-apply .my-form {
    width: initial;
    margin: 2rem auto !important;
  }

  /* TEAM! */

  .team-card {
    margin: 0.45rem 0;
  }

  .team-card p {
    font-size: 0.85rem;
  }

  .person-name,
  .role {
    text-align: center;
  }

  .role {
    position: relative;
    right: 0.2rem;
  }

  /* PAYMENT! */
  .qr-img {
    width: 100%;
  }

  /* COVID */

  /* FOOTER */
  .heading h5 {
    padding-left: initial;
  }
  .main-footer ul {
    padding-left: initial;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .carousel-caption .w-50 {
    width: 100% !important;
  }

  .carousel-caption h5 {
    font-size: 1.5rem;
  }
  .carousel-caption h1 {
    font-size: 2rem;
  }

  .carousel-caption {
    text-align: start !important;
    top: 30rem;
    bottom: auto;
    left: 1rem !important;
  }

  .mobile-hero {
    margin: 1rem 0;
    display: block;
  }

  .my-grid {
    margin-top: 14rem !important;
  }
}

@media (max-width: 350px) {
  .mail {
    font-size: 0.8rem;
  }
  .top-heading h3 {
    font-size: 0.9rem;
  }
}
